<!-- partials/navbar.handlebars -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
	<div id="navbarBasicExample" class="navbar-menu">
		<div class="navbar-start">
			{{!-- This is the button that brings you to the home page --}}
			<a href="/" class="navbar-item">
				Home
			</a>
			{{!-- This is the button that brings you to the profiles page --}}
			<a href="/dashboard" class="navbar-item">
				Dashboard
			</a>
	</div>
		<div class="navbar-end">
			<div class="navbar-item">
				<div class="buttons">
					{{#if logged_in}}
					{{!-- This is the button that logs you out --}}
					<a id="logout" class="is-light">
						Logout
					</a>
					{{else}}
					{{!-- This is the button that brings you to the Login/Sign-up page --}}
					<a href="/login" class="is-primary">
						<strong>Login/Sign-up</strong>
					</a>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</nav>