{{> navbar}}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/create.css">

<div class="content" style = 'margin-top: 300px;'>

  <form class="create-character-form">
    <div class="columns is-full">
      <div class="column">
        <div class="box" style="width: 400px;">
          <h2><label for="characterName">Character Name:</label></h2>
          <input type="text" id="characterName" name="characterName">
        </div>
      </div>
      <div class="box column">
        <h2 for="bio">Bio:</h2>
        <div>
          <textarea id="bio" name="bio"></textarea>
        </div>
      </div>
    </div>

    {{!-- Will fix later --}}
    <div class="right">
      <div class="stats box">
        <h2>Stats:</h2>

        <div class="columns">
          <div class="column">

            <section class="box has-background-primary-light">
              <div class="select fonty">
                <select name="stats" id="stat-select-1">
                  <option value="Potions">Potions</option>
                  <option value="Herbology">Herbology</option>
                  <option value="Charms">Charms</option>
                  <option value="Flying">Flying</option>
                  <option value="Defense Against the Dark Arts">Defense Against the Dark Arts</option>
                  <option value="Dark Art">Dark Arts</option>
                  <option value="Divination">Divination</option>
                  <option value="Transfiguration">Transfiguration</option>
                  <option value="Magical Creatures">Magical Creatures</option>
                  <option value="Astrology">Astrology</option>
                </select>
              </div>
              <input class="select fonty" type="text" id="level-1" name="level" placeholder="level">
            </section>

            <section class="box has-background-primary-light">
              <div class="select fonty">
                <select name="stats" id="stat-select-2">
                  <option value="Potions">Potions</option>
                  <option value="Herbology">Herbology</option>
                  <option value="Charms">Charms</option>
                  <option value="Flying">Flying</option>
                  <option value="Defense Against the Dark Arts">Defense Against the Dark Arts</option>
                  <option value="Dark Art">Dark Arts</option>
                  <option value="Divination">Divination</option>
                  <option value="Transfiguration">Transfiguration</option>
                  <option value="Magical Creatures">Magical Creatures</option>
                  <option value="Astrology">Astrology</option>
                </select>
              </div>
              <input class="select fonty" type="text" id="level-2" name="level" placeholder="level">
            </section>

          </div>

          <div class="column">

            <section class="box has-background-primary-light">
              <div class="select fonty">
                <select name="stats" id="stat-select-3">
                  <option value="Potions">Potions</option>
                  <option value="Herbology">Herbology</option>
                  <option value="Charms">Charms</option>
                  <option value="Flying">Flying</option>
                  <option value="Defense Against the Dark Arts">Defense Against the Dark Arts</option>
                  <option value="Dark Art">Dark Arts</option>
                  <option value="Divination">Divination</option>
                  <option value="Transfiguration">Transfiguration</option>
                  <option value="Magical Creatures">Magical Creatures</option>
                  <option value="Astrology">Astrology</option>
                </select>
              </div>
              <input class="select fonty" type="text" id="level-3" name="level" placeholder="level">
            </section>

            <section class="box has-background-primary-light">
              <div class="select fonty">
                <select name="stats" id="stat-select-4">
                  <option value="Potions">Potions</option>
                  <option value="Herbology">Herbology</option>
                  <option value="Charms">Charms</option>
                  <option value="Flying">Flying</option>
                  <option value="Defense Against the Dark Arts">Defense Against the Dark Arts</option>
                  <option value="Dark Art">Dark Arts</option>
                  <option value="Divination">Divination</option>
                  <option value="Transfiguration">Transfiguration</option>
                  <option value="Magical Creatures">Magical Creatures</option>
                  <option value="Astrology">Astrology</option>
                </select>
              </div>
              <input class="select fonty" type="text" id="level-4" name="level" placeholder="level">
            </section>

          </div>

          <div class="column">

            <section class="box has-background-primary-light">
              <div class="select fonty">
                <select name="stats" id="stat-select-5">
                  <option value="Potions">Potions</option>
                  <option value="Herbology">Herbology</option>
                  <option value="Charms">Charms</option>
                  <option value="Flying">Flying</option>
                  <option value="Defense Against the Dark Arts">Defense Against the Dark Arts</option>
                  <option value="Dark Art">Dark Arts</option>
                  <option value="Divination">Divination</option>
                  <option value="Transfiguration">Transfiguration</option>
                  <option value="Magical Creatures">Magical Creatures</option>
                  <option value="Astrology">Astrology</option>
                </select>
              </div>
              <input class="select fonty" type="text" id="level-5" name="level" placeholder="level">
            </section>

            <section class="box has-background-primary-light">
              <div class="select fonty">
                <select name="stats" id="stat-select-6">
                  <option value="Potions">Potions</option>
                  <option value="Herbology">Herbology</option>
                  <option value="Charms">Charms</option>
                  <option value="Flying">Flying</option>
                  <option value="Defense Against the Dark Arts">Defense Against the Dark Arts</option>
                  <option value="Dark Art">Dark Arts</option>
                  <option value="Divination">Divination</option>
                  <option value="Transfiguration">Transfiguration</option>
                  <option value="Magical Creatures">Magical Creatures</option>
                  <option value="Astrology">Astrology</option>
                </select>
              </div>
              <input class="select fonty" type="text" id="level-6" name="level" placeholder="level">
            </section>

          </div>
        </div>
      </div>


      <div class="skills box">
        <h3>Skills:</h3>

        <div class="columns">

          <div class="column">
            <input class="fonty" type="text" id="skill-1" placeholder="skill">
            <input class="fonty" type="text" id="skill-2" placeholder="skill">
          </div>

          <div class="column">
            <input class="fonty" type="text" id="skill-3" placeholder="skill">
            <input class="fonty" type="text" id="skill-4" placeholder="skill">
          </div>

          <div class="column">
            <input class="fonty" type="text" id="skill-5" placeholder="skill">
            <input class="fonty" type="text" id="skill-6" placeholder="skill">
          </div>

        </div>

      </div>

      <button class="button is-black create-character">Submit</button>

  </form>

</div>

<script src="/js/create.js"></script>