<link rel="stylesheet" href="/css/login.css">

<div class="content">

  <form class="create-character">
    <h2><label for="characterName">Character Name:</label></h2>
    <input type="text" id="characterName" name="characterName">

    <h2>Upload Image</h2>
    <form method="POST" action="/upload" enctype="multipart/form-data">
      <input type="file" name="image" id="character-image">
      <input type="submit">
    </form>

    <h2><label for="age">Age:</label></h2>
    <input type="text" id="age" name="age">

    <h2><label for="location">Location/School:</label></h2>
    <input type="text" id="location" name="location">

    <h3><label for="alignment">Alignment</label></h3>
    <div class="select">
      <select name="alignment" id="align-select">
        <option value="lawfull-good">Lawful Good</option>
        <option value="netural-good">Neutral Good</option>
        <option value="chaotic-good">Chaotic Good</option>
        <option value="lawfull-netural">Lawful Neutral</option>
        <option value="true-netural">True Neutral</option>
        <option value="chaotic-netural">Chaotic Neutral</option>
        <option value="lawful-evil">Lawful Evil</option>
        <option value="neutral-evil">Neutral Evil</option>
        <option value="chaotic-evil">Chaotic Evil</option>
      </select>
    </div>

    <label for="bio">Bio:</label>
    <textarea id="bio" name="bio"></textarea>

    {{!-- Will fix later --}}
    <div class="right">
      <div class="stats">
        Stats:

        <div class="columns">
          <div class="column">

            <section>
              <div class="select">
                <select name="stats" id="stat-select">
                  <option value="">Potions</option>
                  <option value="">Herbology</option>
                  <option value="">Charms</option>
                  <option value="">Flying</option>
                  <option value="">Defense Against the Dark Arts</option>
                  <option value="">Dark Arts</option>
                  <option value="">Divination</option>
                  <option value="">Transfiguration</option>
                  <option value="">Magical Creatures</option>
                  <option value="">Astrology</option>
                </select>
              </div>
              <input type="text" id="level" name="level" placeholder="level">
            </section>

            <section>
              <div class="select">
                <select name="stats" id="stat-select">
                  <option value="">Potions</option>
                  <option value="">Herbology</option>
                  <option value="">Charms</option>
                  <option value="">Flying</option>
                  <option value="">Defense Against the Dark Arts</option>
                  <option value="">Dark Arts</option>
                  <option value="">Divination</option>
                  <option value="">Transfiguration</option>
                  <option value="">Magical Creatures</option>
                  <option value="">Astrology</option>
                </select>
              </div>
              <input type="text" id="level" name="level" placeholder="level">
            </section>

          </div>

          <div class="column">

            <section>
              <div class="select">
                <select name="stats" id="stat-select">
                  <option value="">Potions</option>
                  <option value="">Herbology</option>
                  <option value="">Charms</option>
                  <option value="">Flying</option>
                  <option value="">Defense Against the Dark Arts</option>
                  <option value="">Dark Arts</option>
                  <option value="">Divination</option>
                  <option value="">Transfiguration</option>
                  <option value="">Magical Creatures</option>
                  <option value="">Astrology</option>
                </select>
              </div>
              <input type="text" id="level" name="level" placeholder="level">
            </section>

            <section>
              <div class="select">
                <select name="stats" id="stat-select">
                  <option value="">Potions</option>
                  <option value="">Herbology</option>
                  <option value="">Charms</option>
                  <option value="">Flying</option>
                  <option value="">Defense Against the Dark Arts</option>
                  <option value="">Dark Arts</option>
                  <option value="">Divination</option>
                  <option value="">Transfiguration</option>
                  <option value="">Magical Creatures</option>
                  <option value="">Astrology</option>
                </select>
              </div>
              <input type="text" id="level" name="level" placeholder="level">
            </section>

          </div>

          <div class="column">

            <section>
              <div class="select">
                <select name="stats" id="stat-select">
                  <option value="">Potions</option>
                  <option value="">Herbology</option>
                  <option value="">Charms</option>
                  <option value="">Flying</option>
                  <option value="">Defense Against the Dark Arts</option>
                  <option value="">Dark Arts</option>
                  <option value="">Divination</option>
                  <option value="">Transfiguration</option>
                  <option value="">Magical Creatures</option>
                  <option value="">Astrology</option>
                </select>
              </div>
              <input type="text" id="level" name="level" placeholder="level">
            </section>

            <section>
              <div class="select">
                <select name="stats" id="stat-select">
                  <option value="">Potions</option>
                  <option value="">Herbology</option>
                  <option value="">Charms</option>
                  <option value="">Flying</option>
                  <option value="">Defense Against the Dark Arts</option>
                  <option value="">Dark Arts</option>
                  <option value="">Divination</option>
                  <option value="">Transfiguration</option>
                  <option value="">Magical Creatures</option>
                  <option value="">Astrology</option>
                </select>
              </div>
              <input type="text" id="level" name="level" placeholder="level">
            </section>

          </div>
        </div>
      </div>


      <div class="skills">
        <h3>Skills:</h3>

        <div class="columns">

          <div class="column">
            <input type="text" id="skill" placeholder="skill">
            <input type="text" id="skill" placeholder="skill">
          </div>

          <div class="column">
            <input type="text" id="skill" placeholder="skill">
            <input type="text" id="skill" placeholder="skill">
          </div>

          <div class="column">
            <input type="text" id="skill" placeholder="skill">
            <input type="text" id="skill" placeholder="skill">
          </div>

        </div>

      </div>

  </form>

  <button class="button is-black create-character">Submit</button>
</div>