{{> partials/navbar}}

<div class="profiles-list">
        <h2>Profiles List</h2>
        <ul>
            {{#each profiles}}
            <li><a href="#">{{this.name}}</a></li>
            {{/each}}
        </ul>
    </div>
    
    <div class="create-character-button">
        <a href="character-creator.html">Create New Character</a>
    </div>
    
    <script src="handlebars.min.js"></script>
    <script src="script.js"></script>
</body>
</html>

<script src="/public/js/dashboard.js"></script>