{{> navbar}}

<link rel="stylesheet" href="/css/login.css">

<div class="profiles-list">
    <h2>Profiles List</h2>
    {{#if profiles.length}}
    <ul>
        {{#each profiles as |profile|}}
        <h3><a href="/profile/{{profile.id}}">{{profile.name}}</a></h3>
        <button data-id="{{profile.id}}" id="delete-button">Delete</button>
        {{!-- <li><a href="#">{{this.name}}</a></li> --}}
        {{/each}}
    </ul>
    {{/if}}
</div>

<div class="create-character-button">
    <a href="/create">Create New Character</a>
</div>


</body>

</html>

<script src="/js/dashboard.js"></script>