{{> navbar}}

{{!-- <link rel="stylesheet" href="/css/login.css"> --}}
<link rel="stylesheet" href="/css/dashboard.css">

    <h2 class="box" style="font-size: 40px;">LIST OF CHARACTERS</h2>
<div>
    <div class="profiles-list">
        {{#if profiles.length}}
        <ul>
            {{#each profiles as |profile|}}
            <div class="box">
                <h2 style="font-size: 40px;"><a class="box has-background-primary-light" href="/profile/{{profile.id}}">{{profile.name}}</a></h2>
                <button data-id="{{profile.id}}" id="edit-button">Edit</button>
                <button data-id="{{profile.id}}" id="delete-button">Delete</button>
            </div>
            {{/each}}
        </ul>
        
        {{/if}}
    </div>
    
</div>
    <div class="create-character-button">
        <a class='box' href="/create">Create New Character</a>
    </div>


</body>

</html>

<script src="/js/dashboard.js"></script>