{{!-- <div class="tile is-parent">
	<article class="tile is-child notification is-danger">
		<p class="title">Wide tile</p>
		<p class="subtitle">Aligned with the right tile</p>
		<div class="content"> --}}
			<!-- Content -->
			{{!-- <div class="box"> --}}
<link rel="stylesheet" href="/css/style.css">

		<div class="container">
			<h2>Welcome to PeopleDex</h2>
			<p>PeopleDex (also known as PplDex) is a site welcoming all Harry Potter fanfiction writers to create and store their
				story characters. Whether canon or original, this site is to help you keep track of all your characters’ background
				and unique attributes but in the form of a “pokedex”. As an example, think of all the unique abilities a wizard can
				have. Wandless magic? Animagus? Great at wizard chest? You may not remember all the little details and ideas you
				have for your character, so PeopleDex creates an easy and simple template to save all the details you wish. Feel
				free to sign up and get started!</p>
		</div>

{{!-- </div> --}}
		{{!-- </div>
	</article>
</div>
</div> --}}