{{> navbar}}

{{!-- <div class="tile is-parent">
	<article class="tile is-child notification is-danger">
		<p class="title">Wide tile</p>
		<p class="subtitle">Aligned with the right tile</p>
		<div class="content"> --}}
			<!-- Content -->
			{{!-- <div class="box"> --}}
<link rel="stylesheet" href="/css/style.css">

		<div class="container">
			<h2>Welcome to HPdex</h2>
			<p>HPdex is a dedicated platform designed to warmly welcome all Harry Potter fanfiction writers, offering them a
			specialized space to create and meticulously store the profiles of their story characters. Weather these characters
			align with the canon of the Harry Potter universe or are completely original creations, this site serves as a
			comprehensive tool to help you maintain an organized record of each character’s background, personal traits, and unique
			attributes. The structure of this platform is inspired by the concept of a "Pokedex," akin to the detailed database used
			in the Pokémon universe. Imagine, for instance, the myriad of unique abilities a wizard in the Harry Potter world can
			possess—be it mastery of wandless magic, the rare skill of transforming into an Animagus, or a remarkable talent for
			wizard chess. With the abundance of details and ideas you envision for your characters, it can become challenging to
			remember every little nuance. This is where PeopleDex steps in, offering an easy and straightforward template that
			allows you to save all the desired details about your characters, ensuring that no imaginative element goes forgotten.
			We warmly invite you to sign up and embark on this creative journey, so get started today!</p>
		</div>

{{!-- </div> --}}
		{{!-- </div>
	</article>
</div>
</div> --}}