<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>User Dashboard</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#" id="home-button">Home</a></li>
            <li><a href="#" id="logout-button">Logout</a></li>
        </ul>
    </nav>
    
    <div class="profiles-list">
        <h2>Profiles List</h2>
        <ul>
            {{#each profiles}}
            <li><a href="#">{{this.name}}</a></li>
            {{/each}}
        </ul>
    </div>
    
    <div class="create-character-button">
        <a href="character-creator.html">Create New Character</a>
    </div>
    
    <script src="handlebars.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
