body {
    font-family: 'Caveat', cursive;
    background-color: #eee;
    background-size: cover;
    background-repeat: no-repeat;
    color: #444;
    font-size: 30px;
    min-height: 100vh;
    background-size: cover;
}

.container {
    max-width: 1000px;
    min-height: 70vh;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.container h2 {
    font-size: 50px;
    color: darkred;
    text-align: center;
    padding: 30px;
}

.container p {
    text-align: center;
}

.button-is-primary {
    background-color: darkred;
}

.box {
    margin-left: 20px;
    margin-right: 20px;
}

img {
    height: 380px;
    width: 100%;
    object-fit: cover;
}

