<!-- partials/navbar.handlebars -->
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/login">Login/Sign-up</a></li>
    </ul>
</nav>